@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*color: #F9C48B; Peach*/
/*color: #F69051; Atomic tangerine*/
/*color: #F26D40; Burnt sienna*/
/*color: #260803; Black bean*/
/*color: #FDEFEC; Seashell*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

/*////////////////////////
    2. Typography
////////////////////////*/

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

/*////////////////////////
    3. Areas
////////////////////////*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section {
    background-color: #FDEFEC;
    border-radius: 12px;
    margin: 2em;
    padding: 2.5em;
}

img {
    width: 100%;
    padding: 0.25rem 0;
}

.image-wrapper {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
}

/*////////////////////////
    2. Media Queries
////////////////////////*/
main {
    background-color: #F9C48B;
}

p {
    font-size: 0.8rem;
    padding: 0.6rem 0;
}


@media screen and (min-width: 768px) {
    main {
        background-color: #F69051;
    }

    p {
        font-size: 1rem;
        padding: 0.7rem 0;
    }
}

@media screen and (min-width: 1200px) {
    main {
        background-color: #F26D40;
    }

    p {
        font-size: 1.2rem;
        padding: 0.8rem 0;
    }
}